<!DOCTYPE html>
<html>

<head>
    <div>
        <img class="burgerimg" src="hqdefault.jpg" />
    </div>
    <title>Eat Da Burger!</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
</head>

<body>
    {{{ body }}}
</body>

</html>